html, body {
  height: 100%;
}

#root {
  height: 100%;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.row {
  display: flex;
  height: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  border: 1px solid black;
  height: 100%;
  overflow: scroll;
}

.title {
  margin: 0;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.title.done {
  background: green;
  color: white;
}

.title.doing {
  background: orange;
}

.input-group {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.customer-name-input {
  flex: 70%;
}

#customer-name, #customer-name-edit-input {
  width: 100%;
}

.customer-name-button {
  flex: 30%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 0 80px 0;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: x-large;
}

#add-order, #customer-name-edit-submit {
  padding: 12px 20px;
  font-size: x-large;
  width: 100%;
  background: blue;
  color: white;
}

.record {
  display: inline-flex;
}

.record h2 {
  padding: 0;
  margin: 0 10px 0 0;
}

.record button {
  padding: 0 10px;
  font-size: large;
}

ul li {
  padding: 18px;
  border-bottom: 1px solid gray;
}

ul li:last-child {
  border-bottom: none;
}

ul.doing li button {
  background: orange;
}

ul.done li button {
  background: green;
  color: white;
}

.popup-content {
  padding: 0;
  width: 80%;
  max-width: 800px;
}
