html, body {
  height: 100%;
}

#root {
  height: 100%;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.row {
  display: flex;
  height: 100%;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  border: 1px solid black;
  height: 100%;
}

.title {
  margin-top: 0;
}

.input-group {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}

.customer-name-input {
  flex: 70%;
}

#customer-name {
  width: 100%;
}

.customer-name-button {
  flex: 30%;
}

#submit {
  width: 100%;
}
